{{- if eq .chezmoi.os "darwin" }}

[".config/hammerspoon/SpoonInstall.spoon"]
    type = "archive"
    url = "https://github.com/Hammerspoon/Spoons/raw/master/Spoons/SpoonInstall.spoon.zip"
    stripComponents=1
    refreshPeriod="744h" # 1 month

[".config/hammerspoon/ControlEscape.spoon"]
    type = "archive"
    url = "https://github.com/jasonrudolph/ControlEscape.spoon/releases/download/v1.0.1/ControlEscape.spoon.zip"
    stripComponents=1
    refreshPeriod="744h" # 1 month

{{- end }}
